audio-recorder-streamlit==0.0.8
gTTS
ipykernel
ipython
ipython-genutils

openai
openapi-schema-pydantic
opencv-contrib-python
opencv-python
opencv-python-headless
panda
pandas
SpeechRecognition
python-dotenv

streamlit
tensorflow
tensorflow-estimator
transformers
virtualenv

typing_extensions